{% load static %}<!DOCTYPE html>
<!--
	Paradigm Shift by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
        <title>{% block title %}{% endblock %} - {{ request.site.name }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="The collaborative search engine." />
		<meta name="keywords" content="" />
        <link rel="stylesheet" href="{% static "css/main.css" %}" />
	</head>
	<body class="is-preload">
        {% block content %}
        {% endblock %}

        <!-- Scripts -->
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/jquery.scrolly.min.js" %}"></script>
        <script src="{% static "js/browser.min.js" %}"></script>
        <script src="{% static "js/breakpoints.min.js" %}"></script>
        <script src="{% static "js/util.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>

	</body>
</html>
